$primary-color: #2b5d3c;
$secondary-color: #b9150f9b;
$website-width: 80%;


* {
    font-family: 'Montserrat Alternates', sans-serif;
}
body {
    background-color: color-mix(in srgb, $primary-color 3%, rgba(182, 202, 35, 0.209));
    margin: 0;
    padding: 0;
}
main {
    margin: 0 auto;
    width: $website-width;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    padding: 1vh 5vw;
    border-radius: 15px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
}

h1 {
    color: $primary-color;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;

}

header {
    background-color: $secondary-color;
    padding: 1vh 0;
    border-radius: 15px;
}

.banner {
    margin: 1vh auto;
    width: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.desc {
    text-align: center;
    margin: 0 auto;
}

.grid {
    display: grid;
    margin: 1vh auto;
    border-radius: 3px;
    width: 100%;
    background-color: color-mix(in srgb, $primary-color 10%, rgba(182, 202, 35, 0.209));
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin: 1vh auto;
    width: 100%;
}

.col {
    margin: 2vh auto;
    height: 25vh;
    max-width: 15%;
    padding: 3vw;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: $secondary-color;
}

footer {
    width: $website-width;
    font-size: small;
    .row {
        margin: 0 auto;
    }
}


.footer-col {
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col {
        max-width: $website-width;
    }
    footer {
        margin: 0 auto;
    }
    .footer-col {
        
        width: 100%;
    }
}
    